################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WINAPI C++/WINAPI NOTES/.vs/WINAPI NOTES/v15/Browse.VC.opendb
/WINAPI C++/WINAPI NOTES/.vs/WINAPI NOTES/v15/Browse.VC.db
/WINAPI C++/WINAPI NOTES/.vs/WINAPI NOTES/v15/Browse.VC.db
